<div class="container">
    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title text-center">News</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <img src="images/news.jpg" alt="news"
                    style="width: 200px;height: 100px; margin-right: auto; margin-left: auto; display: block;" />
                <br>
                <select name="newscat" style="width: 100%;padding: 10px;">
                    <option value="select">Select Category</option>
                    <option value="all">All</option>
                    <option value="business">Business</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="health">Health</option>
                    <option value="science">Science</option>
                    <option value="sports">Sports</option>
                    <option value="technology">Technology</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <div class="col-md-3 newstab">
            <img src="./images/news1.jpg" class="img-responsive" />
            <h6 style="font-weight: 900;">Title Goes here</h6>
            <p>a sd sa das d as da sd asd as das d sad asd a</p>
            <hr>
            <a href="#" target="_blank"><button type="button" class="btn-success">Read More...</button> </a>
        </div>
    </div>
    <div>
        <div class="col-md-3 newstab">
            <img src="./images/news2.png" class="img-responsive" />
            <h6 style="font-weight: 900;">Title Goes here</h6>
            <p>a sd sa das d as da sd asd as das d sad asd a</p>
            <hr>
            <a href="#" target="_blank"><button type="button" class="btn-success">Read More...</button> </a>
        </div>
    </div>
    <div>
        <div class="col-md-3 newstab">
            <img src="./images/news3.png" class="img-responsive" />
            <h6 style="font-weight: 900;">Title Goes here</h6>
            <p>a sd sa das d as da sd asd as das d sad asd a</p>
            <hr>
            <a href="#" target="_blank"><button type="button" class="btn-success">Read More...</button> </a>
        </div>
    </div>
    <div>
        <div class="col-md-3 newstab">
            <img src="./images/news4.jpg" class="img-responsive" style="height: 150px;" />
            <h6 style="font-weight: 900;">Title Goes here</h6>
            <p>a sd sa das d as da sd asd as das d sad asd a</p>
            <hr>
            <a href="#" target="_blank"><button type="button" class="btn-success">Read More...</button> </a>
        </div>
    </div>
</div>