<!-- Ex-1 

<app-addcart></app-addcart> -->

<!-- Ex-2 

<app-listproduct></app-listproduct>-->

<!-- Ex-3.1 

<h1>1. Add To Cart with Enable and Disable Button: </h1>
<app-cartitem></app-cartitem>
<hr>-->

<!-- Ex-3.2

<h1>2. Two way data binding with Greet Username:</h1>
<app-greetuser></app-greetuser> -->

<!-- Ex-4 
<app-addproduct></app-addproduct>-->

<!-- Ex-5 
<app-ngswitch></app-ngswitch>-->

<!-- Ex-6 
<app-parentcomponent></app-parentcomponent> -->

<!-- Ex-7 
<app-couponcode></app-couponcode>-->

<!-- Ex-8 -->
<!-- <app-reactiveform></app-reactiveform> -->

<!-- <app-ig-grid></app-ig-grid> -->